.footer{
   background-color: var(--color-bg);
   top: 0;
   left: 0;
   width: 100%;
   padding: 80px 0;
}

.main-footer-container {
   display: flex;
   max-width: calc(1440px - 160px);
   height: 120px;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
   padding: 0 80px;
}

.footer-contacts p{
   margin: 0px;
}

.footer-contacts a {
   color: var(--color-text-light);
   text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
   text-decoration: none;
}

.footer-social {
   text-align: center;
}

.footer-social ul {
   display: flex;
   justify-content: space-around;
   list-style: none;
   padding: 0;
   margin: 0px;
}

.footer-copyright {
   text-align: center;
}

.footer-copyright .button:hover, 
.footer-copyright .button:focus {
   color: var(--color-text-dark);
   background-color: var(--color-bg-light);
}

.socual-button {
   color: var(--color-text-light);
}

.footer-navigation a{
   display: flex;
   text-decoration: underline;
}

.footer-navigation p {
   margin: 0;
}